Hello, admin.
<br />
<p>You have <%= @flagged_quotes.count %> flagged quote<%= 's' if @flagged_quotes.count > 1 %> pending review.</p>
<p> You have <%= @submitted_quotes.count %> submitted quote<%= 's' if @submitted_quotes.count > 1 %> pending review.</p>